/* packages/tailwind-config/shared-styles.css */

/* shared tokens/theme */
@theme {
  --color-brand: #2563eb;
  --font-sans: "Inter", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.h1{
  @apply text-6xl
}

