@import "tailwindcss";
@import "@laevento/tailwind-config";
@import "react-datepicker/dist/react-datepicker.css";

/* Date Picker CSS */

.react-datepicker {
  font-family: var(--font-poppins);
  border: none !important;
}

.react-datepicker__month-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 9px;
  background: #fff;
  border: none;
  box-shadow: 0 4.94px 14.819px 0 rgba(0, 0, 0, 0.08);
  font-size: 18px;
  font-family: var(--font-poppins);
}

.react-datepicker__header {
  background-color: transparent;
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.react-datepicker__day-names {
  display: flex;
  justify-content: space-between;
}

.react-datepicker__day-name {
  color: #6f7c8e;
  height: 44px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.react-datepicker__month {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.react-datepicker__week {
  display: flex;
  justify-content: space-between;
}

.react-datepicker__day {
  height: 44px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 44px;
  padding: 3.705px 11.114px;
  font-family: var(--font-poppins);
}

.react-datepicker__day:hover {
  background-color: var(--color-grey-200) !important;
  border-radius: 9px !important;
  color: var(--color-black) !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: var(--color-primary-500) !important;
  color: var(--color-white) !important;
  border-radius: 9px !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected:hover {
  background-color: var(--color-primary-600) !important;
  border-radius: 9px !important;
  color: var(--color-white) !important;
}

.react-datepicker__day--outside-month {
  color: #6f7c8e !important;
}

.react-datepicker__day--selected:not([aria-disabled="true"]):hover {
  background-color: var(--color-primary-600) !important;
  border-radius: 9px !important;
  color: var(--color-white) !important;
}
